
.news_box {
  position: relative;
  display: block;
  .news_images-box {
    position: relative;
      display: block;
    .slick_box {
      position: relative;
      margin:0 auto;
      width: 430px;
      height: 280px;
      .slick_item{
        display: block;
      }
      .news_pic {
        display: block;
        position: relative;
        width: 430px;
        height: 280px;
        border-radius: .6em;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.news_list {
  font-size: 10px;
  title {
    font-size: 1.8em;
  }
  ul.news {
    padding: 0;
    .news_item {
      list-style: disc;
      padding: 0.75em .5em;
      .news_link {
        text-decoration: none;
        font-size: 1.6em;
      }
    }
  }

}

.APIs {
  position: relative;
  display: block;
  font-size: 10px;
  margin-top: 8em;
  padding-bottom: 8em;
  .APIs_box {
    .title {
      margin: 1em 0;
      padding: 0;
      font-size: 1.8em;
    }
    .APIs {
      margin: 0;
      padding-bottom: 3em;
      padding-left: 0;
      text-align: left;

      .API_item {
        position: relative;
        display: inline;
        list-style: none;
        .API_links {
          text-decoration: none;
          .API_pic {
            position: relative;
            display: block;
            width: 13em;
            height: 3.8em;
          }
          .title {
            position: relative;
            margin: 0;
            padding: .5em .1em;
            font-size: 1.3em;
          }
        }
      }
    }
  }
}

#internal {
  .internal_list {
    margin: 0;
    padding: 0;
    .internal_item {
      box-sizing: border-box;
      padding: 0 15px;
      .card {
        .card_img {
          display: block;
          width: 100%;
          height: 160px;
          img {
            display: block;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}

