.card {
  display: block;
  margin-top: 12px;
  margin-bottom: 24px;
  justify-content: flex-end;
  padding: 0;
  border-radius: 2px;
  overflow: hidden;
  box-sizing: border-box;
  text-decoration: none;
  .card_img {
    display: block;
    img {
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
  .card_title {
    padding: 12px 16px;
    font-size: 15px;
    line-height: 1rem;
    text-decoration: none;
    .card_title_sub {
      font-size: 12px;
    }
  }
}